  
{% extends "base.html" %}

{% block main %} 
  <h2>All wow profiles</h2>

{% if users %} 
{% for user in users %}
 <div class="profile-card">
                <div class="profile-info">
                    <img src="{{ url_for('static', filename='uploads/'+user.profilepic) }}"></img>
                    <div class="info">
                        <h4 class="name">{{ user.firstname }} {{ user.lastname }}</h4>
                        <div class="profile-stats">
                            <i class="far fa-user"></i>
                            {{ user.gender }}
                        </div>
                        <div class="profile-stats">
                            <i class="fas fa-map-marker-alt"></i>
                            {{ user.location }}
                        </div>
                    </div>
                </div>
	<div class="col"> 
            <div clas="justify-content-center" >
                <button class="btn btn-primary" onclick="location.href='{{ url_for('fullprofile', userid=user.id) }}'" >View Profile</button> 

            </div>
        </div> 

</div
{% endfor %}
{% endif %}
{% endblock %}